h1 {
	color:red;
	font-size:100px;
}
div{
	background-color:white;
	margin-top:100px;
	padding-left: 50px;
	padding-top: 50px;
	border: 10px;
	width: px;
	box-shadow: 10px 20px 30px lightwhite
}

div{
	background-color:white;
	margin-top:100px;
	padding-left: 50px;
	padding-top: 50px;
	border: 10px;
	width: px;
	box-shadow: 10px 20px 30px lightwhite
}
img{
	height: 500px
}

h1 {
color:blue;
	font-size:75px;
}

.shadowbox{
	width:1200px;
	padding:88px;
	border:15px;
	margin:15px;
	box-shadow:20px 20px 20px white;
	background-color:white;
		}

.title-blue{
	color:blue;
	font-size:50px;
}